body {
  background-color:grey;
}

#board {
  margin:0 auto;
  margin-top:10px;
  width:700px;
}

h1 {
  padding:20px;
  width:25%;
  margin:0 auto;
  color:#e3f6a7;
  text-align:center;
  font-family:courier;
}

.filled {
  fill: tomato;
}

.black {
  fill: black;
}
